* {
    box-sizing: border-box;
  }
  
  body{
    font-family: Helvetica;
  }

  .header {
    color:black;
    text-align: center;  
    margin-bottom: 15px;
    font-size: 175%;
  }

  /* Simple Responsive Framework. */
  row {
    width: 100%;
    position: relative;
    top: 40px;
    background-color: #878b86;
  }
  
  p {
    /*border: 1px solid black;*/
    background-color: #878b86;
    width: 100%;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    margin-top: 0;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px; 
    padding-bottom: 10px;
    overflow: auto;
}

  div.ht{
    background-color: #ffae00;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 0;
    width: 120px;
    font-size: 125%;
    position: absolute ;
    top: 0px;
    right: 0px;

  }

  div.t1{
    background-color: #ffae00;
  }

  div.t2{
    background-color: #da6f3e;
  }

  div.t3{
    background-color: #da581d;
  }




  
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
      float: left;
      position: relative;
      margin-left: 2%;
      margin-top: 20px;
      background: #878b86;
      align-self: center;
      /*border: 1px solid green;*/
      /*background: white;*/
    }
    .col-lg-1 {
      width: 8.33%;
      border: 1px solid black;
    }
    .col-lg-2 {
      width: 16.66%;
      border: 1px solid black;
    }
    .col-lg-3 {
      width: 30.5%;
      border: 1px solid black;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3 {
      float: left;
      /*border: 1px solid rgb(0, 9, 128);*/
      background: #878b86;
      position: relative;
      margin-left: 2%;
      margin-top: 20px;
      align-self: center;
    }
    .col-md-1 {
      width: 92%;
      border: 1px solid black;
    }
    .col-md-2 {
      width: 45%;
      border: 1px solid black;
    }
    .col-md-3 {
      width: 25%;
      border: 1px solid black;
    }
  }

  /********** Small devices only **********/
  @media (max-width: 767px) {
    .col-sd-1, .col-sd-2, .col-sd-3 {
      float: left;
      /*border: 1px solid rgb(128, 0, 107);*/
      background: #878b86;
      position: relative;
      margin-left: 2%;
      margin-top: 20px;
      align-self: center;
    }
    .col-sd-1 {
      width: 95%;
      border: 1px solid black;
    }
    .col-sd-2 {
      width: 16.66%;
      border: 1px solid black;
    }
    .col-sd-3 {
      width: 25%;
      border: 1px solid black;
    }
  }

